#category-container{
    width: 25%;
}

.category-button{
    font-size: 1em;
}

#return-container{
    text-align: right;
}

#return-button{
    font-size: 1.5em;
}

#table-form{
    width: 95%;
    min-height: 400px;
    max-height: 550px;
}

table{
    overflow-y:scroll;
    height:100%;
    display:block;
}

.order-table{
    display: none;
}

#action-container{
    text-align: right;
}

main{
    overflow: auto;
}
