main{
    overflow: auto;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 75%;
    transform: translate(-50%, -50%);
}

#return-container{
    text-align: right;
}

#return-button{
    font-size: 1.5em;
}

h1{
    font-size: 3vw;
}

#buttons-container{
    font-size: 2vw;
}

.btn-danger{
    font-size: 1.5em;
}

