main{
    overflow: auto;
}

section{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 800px;
}

#return-container{
    text-align: right;
}

#return-button{
    font-size: 1.5em;
}

h1{
    font-size: 60px;
}

#buttons-container{
    font-size: 3em;
}

.btn-danger{
    font-size: 1.5em;
}

