#return-container{
    text-align: right;
}

#return-button{
    font-size: 1.5em;
}

#action-container{
    text-align: right;
}

table{
    overflow-y:scroll;
    height:100%;
    border-spacing: 15px;
    display:block;
}

table, th, td {
    padding: 10px;
}
